<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_filling"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Coupon.Coupon_Detail"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Coupon.Coupon_Mart"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Coupon.Coupon_Search"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Coupon.Coupon_List"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Myinfo.MileageReport"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Myinfo.CashReport"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Myinfo.ChangeCardPW"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Myinfo.ChangePW"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Myinfo.MyCoupon"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Myinfo.MyInfo"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Dongmu.Dongmu_Detail"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Dongmu.Dongmu_Search"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Dongmu.Dongmu_List"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Policy.Policy"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Drawer.Alert.Alert_Detail"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Drawer.CashGift_Purchase"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Drawer.Cash_Purchase"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Test"
            android:theme="@style/LoginTheme"/>
        <activity
            android:name=".Login.Login"
            android:theme="@style/LoginTheme"/>
        <activity
            android:name=".Login.Login_CardPW"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Login.Login_FindPW"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Login.Login_FindID"
            android:label=""
            android:theme="@style/FindTheme" />
        <activity
            android:name=".Login.Login_Register"
            android:label=""
            android:theme="@style/FindTheme"  />
        <activity
            android:name=".Splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>